<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	
	<meta charset="UTF-8">

	<title>Document</title>
	<script type="text/javascript" src="/javascripts/chart.js"></script>
	<title></title>
</head>
<body>
	<%  if (!isAuthenticated){ %>
		<br>
		<div class="alert alert-warning">
		<a href="/login">You must be logged in to view this page</a>
		</div>
	<%  } else {%>
		<h1>Hello, <%= user.username %> - welcome to our website!</h1>
		 <form action="/search" method="post">
		 	<label for="search"> Please enter the hashtag you would like to graph</label>
		 	&nbsp
      <input type="text" name="searchTerm" id="search" autofocus>
      <input type="submit">
    </form>

		<a href="/logout" class = "btn btn-danger btn-lg">Log out here</a>
	<%  }%>
</body>
</html>