<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  
  <meta charset="UTF-8">

  <title>Document</title>
	<title></title>
</head>
<body>
<h1> Sign Up Form</h1>

    <% if(typeof message !== 'undefined') {%>
    <div class="alert alert-danger">
    <%= message %>
    </div>
    <% }%>

<br>
<form action="/submit" method = "post">
&nbsp
  <p>
    <label for="username">Username: </label> <input type="text" name="username" id="username" autofocus value = <%=username %>>
  </p>
  &nbsp
  <p>
  <label for="password">Password: </label> <input type="password" name="password" id="password">
  </p>
  <p>
  <input type="submit" value="Sign up!" class = "btn btn-primary">
  </p>
  <a href="/login">Already have an account? Log in here</a>
</form>
</body>
</html>